{% extends 'base.html.twig' %}
{% block title %}Le bloc note du SFIA{% endblock %}
{% block meta %}Créé sous forme de répertoire papier dans les années 1980 à l’initiative des 2 Chambres de Commerce et d’Industrie du département, le SFIA est devenu, avec la création de son site Internet en 2006, une véritable vitrine interactive de l’industrie ardennaise{% endblock %}

{% block main %}
<div class="container mt-5">
    <h1 class="p-3 pl-4">Le bloc notes du SFIA</h1>

    <p class="mt-5">Créé sous forme de répertoire papier dans les années 1980 à l’initiative des 2 Chambres de Commerce et d’Industrie du département, le SFIA est devenu, avec la création de son site Internet en 2006, une véritable vitrine interactive de l’industrie ardennaise</p>

    <h3 class="mt-5 font-weight-bold">Les 3 objectifs majeurs : </h3>

    <ul class="mt-4">
        <li>Valoriser le tissu industriel ardennais et l’attractivité du département. </li>
        <li>Faire connaître les capacités de l’industrie ardennaise tant à l’intérieur du département qu’à l’extérieur, ainsi qu’à l’international. </li>
        <li>Répondre précisément aux recherches d’informations : fournisseurs, sous-traitants, partenaires etc.</li>
    </ul>
    
    <h3 class="mt-5 font-weight-bold">Le SFIA, c’est :</h3>
    <ul class="mt-3">
        <li>Le site Internet <a href="www.cci.sfia.fr">www.cci.sfia.fr</a>régulièrement actualisé </li>
        <li>Une édition papier SFIA 2016</li>
    </ul>
    <p>qui recensent :</p>
    <div class="lh mt-4">
    <p>- les 329 entreprises industrielles ardennaises de 5 salariés et plus, déclinées sous forme de fiches signalétiques détaillées, </p>
    <p>- un panorama complet du département grâce à des rubriques descriptives.</p>
    </div>
    <p class="mt-4">Le site possède des fonctionnalités avancées qui permettent, grâce à des recherches multicritères (en page d’accueil), de cibler les entreprises et savoir faire recherchés et de télécharger ces résultats. </p>
    <p>Par ailleurs, le site SFIA fait l’objet d’une actualisation régulière des informations, et notamment des fiches signalétiques des entreprises.</p>
    <p class="font-weight-bold">Le SFIA est une action de la Chambre de Commerce et d’Industrie des Ardennes, cofinancée par le Conseil Départemental des Ardennes</p>

    <div class="contact mt-5">
    <p>Sophie PECHEUX </p>
    <p>Directrice d’Ardennes Expansion </p>
    <p>CCI des Ardennes </p>
    <p>onglet "contact" sur le site SFIA</p>
    </div>
</div>

{% endblock %}