{% extends 'base.html.twig' %}
{% block title %}Edito - SFIA{% endblock %}
{% block meta %}Avec 21 % de ses emplois dans l’industrie contre 16 % en Champagne-Ardenne et 13 % en France, le
            département des Ardennes est un territoire d’industries.{% endblock %}
{% block main %}
<div class="container mt-5">
    <h1 class="p-3 pl-4">Edito</h1>
    <h4 class="text-center mt-5 font-weight-bold">L'industrie Ardennaise : diverse et exploratrice</h4>

    <div class=" mt-5">
        <img src="{{asset('build/img/edito.jpg')}}" alt="president de la cci" class="float-left mr-3 mb-3">
        <p class="m-0">
            Avec 21 % de ses emplois dans l’industrie contre 16 % en Champagne-Ardenne et 13 % en France, le
            département des Ardennes est un territoire d’industries.
        </p>

        <p class ="mt-2">
            Premier pôle français de production de pièces de forge, d’estampage et de fonderie, l’industrie ardennaise est présente sur les marchés de l’automobile, du ferroviaire et de l’aéronautique. Mais elle est également présente dans les secteurs du luxe, de l’agro-alimentaire, du bois, de l’électronique et de la plasturgie.
        </p>

        <p class="mt-2">
            L’industrie ardennaise est également très fortement exportatrice. Depuis plus de 10 ans, elle exporte chaque année bien plus qu’elle n’importe. De plus, avec un taux de 155 %, sa couverture exportations/importations a été, en 2013, la plus élevée des départements de la région.
        </p>

        <p class="mt-2">
            Ces résultats tiennent à la performance et au dynamisme des entreprises qui la composent.
        </p>

        <p class="mt-2 clearfix">
            Mais ce savoir-faire demande toujours à être mieux connu. Le SFIA vise à y contribuer.
        </p>

        <p class="mt-2">
            Destiné principalement aux professionnels et, particulièrement, aux acheteurs à la recherche de fournisseurs ou de sous-traitants, ce répertoire recense les 342 entreprises industrielles de 5 salariés et plus du département. Il présente, pour chacune d’entre elles, outre son identité, ses activités détaillées, ses secteurs d’activité de destination, ses références clients et ses principaux équipements.
        </p>

        <p class="mt-2">
            Le SFIA peut également être consulté en ligne à l’adresse www.cci.sfia.fr où ces informations sont mises à jour en continu.
        </p>

        <p class="mt-2">
            Bonnes affaires avec les entreprises ardennaises !
        </p>

        <p class="mt-2">Le président de la CCI des Ardennes <br>Géraud SPIRE</p>
    </div>

</div>
{% endblock %}