<h1 style="text-align: center; color: #0E2C68;">Bienvenue sur le site de du Savoir Faire Industriel Ardennais</h1>
<p>Un compte vient de vous être attribué.</p>
<p>Vous pouvez dès à présent vous connecter avec votre email actuel et le mot de passe suivant :</p>
<p style="text-align: center; color: #fda102;">{{ password }}</p>
