{% block body %}
<h1>SFIA - Le Savoir Industriel Ardennais</h1>
<h2>Nous venons de réinitialiser votre mot de passe</h2>
<p>Veuillez vous connecter avec le mot de passe provisoire suivant : </p>
<p>{{ password }}</p>
<p>Il vous sera ensuite demandé d'entrer un nouveau mot de passe de votre choix.</p>

{% endblock %}